<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Cuisine</title>
</head>
<body>
    <h1>Hello, from Chat Cuisine</h1>
    <section id="chatbot">
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger
                intent="WELCOME"
                chat-title="Chat Cuisine Bot 🤖"
                agent-id="1d097414-4293-48a5-ba46-00df4a8aae1b"
                language-code="en">
            </df-messenger>
    </section>
</body>
</html>