<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Chat Cuisine</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous" />
</head>

<body>
  <header class="container-fluid">
    <h1>Hello, from Chat Cuisine 🍔</h1>
  </header>
  <main class="container-fluid">
    <section>
      <h2>TODO:</h2>
      <ul>
        <li>Frontend</li>
        <li>
          Backend Integration with Bot <em>(Initial connection tested)</em>
        </li>
        <li>Improving database</li>
        <li>Hosting database</li>
        <li>Deployment <em>(Initial connection tested)</em></li>
      </ul>
    </section>
    <section>
      <h2>Completed</h2>
      <ul>
        <li>
          Bot creation <em>(Intents, Entities, Fulfillment, Integration)</em>
        </li>
        <ul>
          <li>
            default fallback, welcome intent
            <em>(with training phrases and responses)</em>
          </li>
          <li>
            new.order, intent<em>(with training phrases and responses)</em>
          </li>
          <li>
            order.add, order.complete, order.remove
            <em>(context : ongoing-order)</em>
          </li>
        </ul>
        <li>Backend integration with bot testing<em>(track order)</em></li>
        <li>Phase 1 database</li>
        <li>
          Deployment tested on vercel, render
          <em>(re-test after SQL deployment)</em>
        </li>
      </ul>
    </section>
  </main>
  <footer class="container-fluid">
    <section id="chatbot">
      <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
      <df-messenger intent="WELCOME" chat-title="Chat Cuisine Bot 🤖" agent-id="1d097414-4293-48a5-ba46-00df4a8aae1b"
        language-code="en"></df-messenger>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"></script>
  </footer>
</body>

</html>
