<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Cuisine</title>
</head>
<body>
    <h1>Hello, from Chat Cuisine 🍔</h1>
    <h2>TODO:</h2>
    <ul>
        <li>Frontend</li>
        <li>Backend Integration with Bot <em>(Initial connection tested)</em></li>
        <li>Improving database</li>
        <li>Hosting database</li>
        <li>Deployment <em>(Initial connection tested)</em></li>
    </ul>
    <h2>Completed</h2>
    <ul>
        <li>Bot creation <em>(Intents, Entities, Fulfillment, Integration)</em></li>
        <ul>
            <li>default fallback, welcome intent <em>(with training phrases and responses)</em></li>
            <li>new.order, intent<em>(with training phrases and responses)</em></li>
            <li>order.add, order.complete, order.remove <em>(context : ongoing-order)</em></li>
        </ul>
        <li>Backend integration with bot testing<em>(track order)</em></li>
        <li>Phase 1 database</li>
        <li>Deployment tested on vercel, render <em>(re-test after SQL deployment)</em></li>
    </ul>
    <section id="chatbot">
        <script src="https://www.gstatic.com/dialogflow-console/fast/messenger/bootstrap.js?v=1"></script>
            <df-messenger
                intent="WELCOME"
                chat-title="Chat Cuisine Bot 🤖"
                agent-id="1d097414-4293-48a5-ba46-00df4a8aae1b"
                language-code="en">
            </df-messenger>
    </section>
</body>
</html>